.title {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    font-size: 56px;
    text-align: center;
}

img {
    display: block;
    margin-left: 25px;
    margin-right: auto;
    width: 50%;
    height: auto;
}

body {
    font-family: Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: 35px;
    padding: 2px;
    font-family: 'Helvetica', 'sans-serif';

}

#mediterranean {
    background-color: #FFA17C;
    
}

#street-tacos {
    background-color: #7CFFA1;
}

#spaghetti {
    background-color: #FF957C;
}