body {
    background-color: rgb(255, 255, 255);
}

#title {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    font-size: 56px;
    text-align: center;
}

.recipes {
    /* margin: 25px; */
    margin-left: 80px;
    margin-top: 35px;
    padding: 2px;
    font-family: 'Helvetica', 'sans-serif';
}

li {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    color: white;
    font-size: 20px;
}
